<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
  <servlet>
    <servlet-name>autoServlet</servlet-name>
    <servlet-class>com.avit.servlet.AutoServlet</servlet-class>
    <!--<load-on-startup>2</load-on-startup>-->
  </servlet>
  <servlet>
    <servlet-name>AutoAllServlet</servlet-name>
    <servlet-class>com.avit.servlet.AutoAllServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>UpTreeServlet</servlet-name>
    <servlet-class>com.avit.servlet.UpTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpTreeServlet</servlet-name>
    <url-pattern>/upTree</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>testThread</servlet-name>
    <servlet-class>com.avit.test.TestThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testThread</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.avit.test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testdata</url-pattern>
  </servlet-mapping>

   
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
